<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="#">Blogs</a>
        <% if (locals.user) { %>
          <a class="nav-link text-light ms-3" href="/blog/blogForm">Add Blog</a>
        <% } %>
        </div>
      <div class="d-flex align-items-center">
        <% if (locals.user) { %>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= locals.user.name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/user/logout">LogOut</a></li>
              </ul>
            </li>
          </ul>
        <% } else { %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/user/signIn">SignIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/signUp">SignUp</a>
            </li>
          </ul>
        <% } %>
      </div>
    </div>
  </nav>
  
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">New Password</h5>
              <% if(locals.invalid) {%>
                <div class="container mt-2">
                 <p class="alert alert-danger" role="alert">
                      Email don't exists.
                </p>
                </div>              
              <% } %>
              <form action = "/user/resetPassword" method="POST">
                <div class="form-group">
                  <label for="email">Enter Email</label>
                  <input type="email" class="form-control" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">send Opt</button>    
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if (locals.otpDetails) { %>
      <div class="container mt-5"></div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">New Password</h5>
              <% if(locals.otpTimeExpires) {%>
                <div class="container mt-2">
                 <p class="alert alert-danger" role="alert">
                      OTP TIME EXPIRES
                </p>
                </div>              
              <% } %>
              <% if(locals.invalidOtp) {%>
                <div class="container mt-2">
                 <p class="alert alert-danger" role="alert">
                      INVALID OTP
                </p>
                </div>              
              <% } %>
              <form action = "/user/updatePassword" method="POST">
                <div class="form-group">
                  <input type="hidden" class="form-control" value="<%= locals.email %>" name="email" required>
                </div>                
                <div class="form-group">
                  <label for="otp">Enter Otp</label>
                  <input type="text" class="form-control" name="otp" required>
                </div>
                <div class="form-group">
                  <label for="password">Enter New Password</label>
                  <input type="text" class="form-control" name="password" required>
                </div>
                <button type="submit" class="btn btn-success mt-3">Change Password</button>    
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <%- include('./partials/script') %>
</body>
</html>